<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= pageTitle %></title>
  <link rel="stylesheet" href="/invoicing/css/report.css">
</head>
<body>
    <div class="container">
        <h1><%= pageTitle %></h1>
        <div class="button-group">
            <a href="/invoicing/report/create"> <img src="/invoicing/images/create.png" alt="Go back" style="width:140px;"> </a>
            <a href="/invoicing/report/showall"> <img src="/invoicing/images/view.png" alt="Go back" style="width:140px;"> </a>
        </div>
        <a href="/invoicing/"> <img src="/invoicing/images/back_to_home.png" alt="Back to Home" style="width:220px;"> </a>
    </div>
</body>
</html>